.sidebar {
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 50px;
    left: 0;
    background-color: white;
    transform: translateY(0);
  
  }
  
  .sidebarNone{
    transform: translateY(-100%);
  
  }
  
  .logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000000;
  
  }
  .navLogo{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 10px;
  }
  .span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #838383;
  }
  
  .menu {
    position: relative;
    padding-left: 41px;
    padding-top: 50px;
  }
  .link {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #9197b3;
    text-decoration: none;
  
    /* width: 250px; */
  height: 46px;
  border-radius: 8px;
  
  }
  
  .link:hover{
      background-color: #5932ea;
  
      color: white;
  
  }
  
  .link:hover .icon {
      stroke: white;
      fill: white;
      stroke: antiquewhite;
  
  }
  
  .text {
    padding-left: 15px;
  }
  
  .chevron {
    margin-left: auto;
  }
  .indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100%-40px);
    border-radius: 10px;
    background-color: #5932ea;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .icon{
      padding-left: 13px;
  
  }
  .link:hover .newIcon * {
      stroke: white;
  }
  .user{
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 70px;
      left: 12px;
  }
  .avatarName{
      font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 0px;
  }
  .avatarJob{
      font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 0px;
  }
  .avatarInfo{
      margin-left: 12px;
  }
  .header{
    height: 50px;
    width: 20%;
    background-color: white;
    position: absolute;
    z-index: 5;
    padding-left: 10px;
    padding-top: 10px;
  
  }
  .headerOne{
    background-color: #F9FBFF
  }
  
  @media (max-width: 768px) {
    .chevron,
    .text,
    .logo,
    .avatarInfo {
      display: none;
    }
    .menu{
      padding-left: 5px;
      padding-top: 5px;
    }
    .sidebar {
    width: 15%;
  }
  
  .header{
    width: 15%;
  }
  
  .navLogo{
    margin-top: 5px;
  }
  }
  
  @media (min-width: 768px) and (max-width: 992px){
      .chevron
     {
      display: none;
    }
    .menu{
      padding-left: 5px;
    }
    .user{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .navLogo{
    display: flex;
    flex-direction: column;
  }
  }
   @media (max-height: 430px) {
    .navLogo{
    display: none;
  }
  .sidebar{
    top: 0;
   
  }
  .user{
    bottom: 0px;
  }
  .avatarInfo{
    display: none;
  }
  }